<a href="https://colab.research.google.com/github/Ramya1410/Python-Practice/blob/main/pattern_and_math_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = int(input('enter a number'))
for i in range(n,0,-1):
  print((n-i)*' '+'*'*i)

enter a number15
***************
 **************
  *************
   ************
    ***********
     **********
      *********
       ********
        *******
         ******
          *****
           ****
            ***
             **
              *

In [ ]:
n = int(input('enter number of rows'))
a=[]
for i in range(n):
  a.append([])
  a[i].append(1)
  for j in range(1,i):
    a[i].append(a[i-1][j-1]+a[i-1][j])
  if(n!=0):
    a[i].append(1)
for i in range(n):
    print("   "*(n-i),end=" ",sep=" ")
    for j in range(0,i+1):
        print('{0:6}'.format(a[i][j]),end=" ",sep=" ")
    print()

enter number of rows5
                     1
                  1      1
               1      2      1
            1      3      3      1
         1      4      6      4      1

In [ ]:
print("Equation : ax^2+bx+c")
a = int(input('enter a'))
b = int(input('enter b'))
c = int(input('enter c'))
d1 = b**2-4*a*c
d=d1**0.5
if(d1<0):
  print('roots are imaginary')
else:
  r1 = (-b+d)//2*a
  r2 = (-b-d)//2*a
  print(r1,r2,end=' ')

Equation : ax^2+bx+c
enter a1
enter b5
enter c10
roots are imaginary

In [ ]:
b = int(input('enter base'))
h = int(input('enter height'))
area = 0.5*b*h
print(area)

enter base6
enter height10
30.0

In [ ]:
import math
a = int(input('enter side'))
b = int(input('enter side'))
c = int(input('enter side'))
s = (a+b+c)/2
area = math.sqrt((s*(s-a)*(s-b)*(s-c)))
print(round(area,2))

enter side15
enter side7
enter side9
20.69

In [ ]:
p = int(input('enter principle'))
t = int(input('enter time period'))
r = int(input('enter rate of interest'))
si = (p*t*r)/100
print(si)

enter principle200
enter time period5
enter rate of interest5
50.0

In [ ]:
a = int(input('enter num'))
b = int(input('enter num'))
quo = a//b
rem = a%b
print(quo,rem)

enter num5
enter num2
2 1

In [ ]:
ll = int(input('enter lower limit '))
ul = int(input('enter upper limit '))
for i in range(ll,ul+1):
  for j in range(ll,ul+1):
    for k in range(ll,ul+1):
      if(i**2+j**2==k**2):
          print(i,j,k,end='\n')

enter lower limit 1
enter upper limit 20
3 4 5
4 3 5
5 12 13
6 8 10
8 6 10
8 15 17
9 12 15
12 5 13
12 9 15
12 16 20
15 8 17
16 12 20

In [ ]:
a = int(input('enetr a number'))
b = int(input('enetr a number'))
a=a-b
b=b+a
a=b-a
print(a,b,sep='\n')

enetr a number14
enetr a number125
125
14

In [ ]:
print(' polynomial : ax^3+bx^2+cx+d')
a = int(input('enetr a '))
b = int(input('enetr b'))
c = int(input('enetr c'))
d = int(input('enetr d'))
x = int(input('enetr x'))
res = a*(x**3)+b*(x**2)+c*x+d
print(res)

 polynomial : ax^3+bx^2+cx+d
enetr a 3
enetr b4
enetr c5
enetr d6
enetr x2
56

In [ ]:
n = int(input('enter a nummber'))
print(n,end=' ')
while(n>1):
  if(n%2==0):
    n=n//2
    print(n,end=' ')
  else:
    n=3*n+1
    print(n,end=' ')

enter a nummber11
11 34 17 52 26 13 40 20 10 5 16 8 4 2 1

In [ ]:
n = int(input('enter a number'))
for i in range(0,n):
  for j in range(0,n):
    if(i==j):
      print(1,sep=' ',end=' ')
    else:
      print(0,sep=' ',end=' ')
  print()

enter a number4
1 0 0 0
0 1 0 0
0 0 1 0
0 0 0 1

In [ ]:
n = int(input('enter a number'))
ten = len(str(n))
unit = n%10
print(int(ten),unit,sep='',end='')

enter a number24678
58